.screens{
	text-align: center
}
img{
	max-width: 100%;
    max-height: 100%;
}
#footer_icon{
	width: 20px
}

#footer{
	padding:15px
}

#icon{
	width: 80px;
	float: left;
	margin-left: 200px;
	margin-top: -80px;
}

div#header {
    width:auto;
    height:auto;
	background-color: #343a39
}
#content {
	width: 900px;
	margin: 0 auto;
	text-align: left;
	padding: 20px;
	background-color: white;
	border-radius: 25px;
}

pre {
	border-style: dashed;
	border-width: 1px;
	border-color: #b3b3b3;
	padding: 10px;
	background-color: #e6e6e6;
}
code{
	background-color: #e6e6e6;
}
h1, h2, h3, h4, h5 {
	color:#262626;
	font-family:"DejaVu Sans";}

h2 {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

b {color:#262626;}
a {
	color: #cc0052;
	font-weight: bold;
	text-decoration: none;
}
dd {margin-bottom: 10px}
ul {margin-bottom: 10px}

body {
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
	background-color: #ededed;
}
h1 {counter-reset: subsection;}
h2 {counter-reset :subsubsection}
h3 {counter-reset :subsubsubsection}

h2:before {
    counter-increment: subsection;
    content: counter(subsection)"." " ";
}

h3:before {
    counter-increment: subsubsection;
    content: counter(subsection)"."counter(subsubsection) " ";
}
h4:before {
    counter-increment: subsubsubsection;
    content: counter(subsection)"."counter(subsubsection)"."counter(subsubsubsection) " ";
}
#header_content{
	width: 900px;
	font-family:"DejaVu Sans";
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	font-size: 40px;
	font-weight: bold;
	color: whitesmoke;
}

.sub_header{
	font-weight:normal;
	font-size:25px;
}
